p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#68a340;
	font-family:"Comic Sans MS", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"BC Unciala Grand", serif;
	font-size:647.6px;
	font-style:normal;
	font-weight:300;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:160px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Book", serif;
	font-size:160px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:500px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#c8a868;
	font-family:"P22 Mackinac Pro", serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"BC Unciala Grand", serif;
	font-size:140px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:140px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-11 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:260px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:160px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:160px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:100px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-15 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:120px;
	font-style:normal;
	font-weight:500;
	text-transform:uppercase;
}
#_idContainer1239, #_idContainer1256, #_idContainer1271, #_idContainer1288, #_idContainer1305, #_idContainer1322, #_idContainer1339, #_idContainer1356 {
	-webkit-transform:translate(56.692px,683.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,683.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1240, #_idContainer1257, #_idContainer1272, #_idContainer1289, #_idContainer1306, #_idContainer1323, #_idContainer1340, #_idContainer1357 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:779.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer1241, #_idContainer1258, #_idContainer1273, #_idContainer1290, #_idContainer1307, #_idContainer1324, #_idContainer1341, #_idContainer1358 {
	-webkit-transform:translate(15.023px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.023px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.41px;
}
#_idContainer1242, #_idContainer1259, #_idContainer1274, #_idContainer1291, #_idContainer1308, #_idContainer1325, #_idContainer1342, #_idContainer1359 {
	-webkit-transform:translate(197.007px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(197.007px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.97px;
}
#_idContainer1243, #_idContainer1276, #_idContainer1293, #_idContainer1344 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1244, #_idContainer1275, #_idContainer1292, #_idContainer1310 {
	-webkit-transform:translate(56.692px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1245, #_idContainer1277 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1246, #_idContainer1263, #_idContainer1278, #_idContainer1295, #_idContainer1312, #_idContainer1329, #_idContainer1346, #_idContainer1363 {
	-webkit-transform:translate(0.070px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:779.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.070px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer1247, #_idContainer1264, #_idContainer1279, #_idContainer1296, #_idContainer1313, #_idContainer1330, #_idContainer1347, #_idContainer1364 {
	-webkit-transform:translate(369.137px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(369.137px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.97px;
}
#_idContainer1248, #_idContainer1265, #_idContainer1280, #_idContainer1297, #_idContainer1314, #_idContainer1331, #_idContainer1348, #_idContainer1365 {
	-webkit-transform:translate(535.181px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(535.181px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.41px;
}
#_idContainer1249 {
	-webkit-transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1160.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1250, #_idContainer1270, #_idContainer1281, #_idContainer1298, #_idContainer1315 {
	-webkit-transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1251 {
	-webkit-transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1162.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:220.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1252 {
	-webkit-transform:translate(36.000px,287.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1163.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:52.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,287.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1253 {
	-webkit-transform:translate(36.000px,359.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,359.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1254 {
	-webkit-transform:translate(36.000px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1165.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:376.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1255 {
	-webkit-transform:translate(279.118px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:279.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1260, #_idContainer1360 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:231.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1261, #_idContainer1343, #_idContainer1361 {
	-webkit-transform:translate(56.692px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1262, #_idContainer1362 {
	-webkit-transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1266 {
	-webkit-transform:translate(35.999px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1175.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:364.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1267 {
	-webkit-transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1176.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:290.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1268 {
	-webkit-transform:translate(36.000px,430.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,430.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1269 {
	-webkit-transform:translate(35.999px,479.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,479.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1282 {
	-webkit-transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1189.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:194.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1283 {
	-webkit-transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1190.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:232.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1284 {
	-webkit-transform:translate(36.000px,299.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,299.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1285 {
	-webkit-transform:translate(36.000px,359.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,359.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1286 {
	-webkit-transform:translate(36.000px,371.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:268.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,371.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1287 {
	-webkit-transform:translate(279.118px,371.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:398.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,371.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1294 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:195.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1299 {
	-webkit-transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1204.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:364.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1300 {
	-webkit-transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1205.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:280.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1301 {
	-webkit-transform:translate(36.000px,430.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,430.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1302 {
	-webkit-transform:translate(36.000px,490.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,490.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1303 {
	-webkit-transform:translate(36.000px,502.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,502.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1304 {
	-webkit-transform:translate(279.118px,502.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,502.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1309 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:241.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1311 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1316 {
	-webkit-transform:translate(35.999px,286.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,286.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1317 {
	-webkit-transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1220.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:136.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1318 {
	-webkit-transform:translate(36.000px,346.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,346.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1319 {
	-webkit-transform:translate(36.000px,358.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,358.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1320 {
	-webkit-transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1223.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:220.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1321 {
	-webkit-transform:translate(279.118px,358.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,358.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1326 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1327 {
	-webkit-transform:translate(55.984px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.984px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1328 {
	-webkit-transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:218.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1332, #_idContainer1355 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1333 {
	-webkit-transform:translate(36.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1234.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:111.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1334 {
	-webkit-transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1235.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:124.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1335 {
	-webkit-transform:translate(36.000px,191.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,191.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1336 {
	-webkit-transform:translate(36.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1337 {
	-webkit-transform:translate(36.000px,263.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,263.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1338 {
	-webkit-transform:translate(279.118px,263.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,263.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1345 {
	-webkit-transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1349 {
	-webkit-transform:translate(36.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1248.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:112.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1350 {
	-webkit-transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1249.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:280.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1351 {
	-webkit-transform:translate(36.000px,347.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,347.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1352 {
	-webkit-transform:translate(36.000px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1353 {
	-webkit-transform:translate(36.000px,419.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,419.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1354 {
	-webkit-transform:translate(279.118px,419.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:195.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,419.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1366 {
	-webkit-transform:translate(36.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1263.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:340.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1367 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:478.91px;
}
#_idContainer1368 {
	-webkit-transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1265.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:232.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1369 {
	-webkit-transform:translate(36.000px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1370 {
	-webkit-transform:translate(36.000px,454.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,454.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer1371 {
	-webkit-transform:translate(36.000px,466.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,466.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer1372 {
	-webkit-transform:translate(279.118px,466.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.118px,466.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
