p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#68a340;
	font-family:"Comic Sans MS", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:500px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"BC Unciala Grand", serif;
	font-size:647.6px;
	font-style:normal;
	font-weight:300;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:160px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Book", serif;
	font-size:160px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:260px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:160px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:160px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-9 {
	color:#c8a868;
	font-family:"P22 Mackinac Pro", serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#ffffff;
	font-family:"BC Unciala Grand", serif;
	font-size:140px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-11 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:120px;
	font-style:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:140px;
	font-style:normal;
	font-weight:500;
}
#_idContainer2599, #_idContainer2611, #_idContainer2624, #_idContainer2637, #_idContainer2650, #_idContainer2662, #_idContainer2675, #_idContainer2687 {
	-webkit-transform:translate(56.692px,707.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,707.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2600, #_idContainer2612, #_idContainer2625, #_idContainer2638, #_idContainer2651, #_idContainer2663, #_idContainer2676, #_idContainer2688 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:779.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer2601, #_idContainer2613, #_idContainer2626, #_idContainer2639, #_idContainer2652, #_idContainer2664, #_idContainer2677, #_idContainer2689 {
	-webkit-transform:translate(15.023px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.023px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.41px;
}
#_idContainer2602, #_idContainer2614, #_idContainer2627, #_idContainer2640, #_idContainer2653, #_idContainer2665, #_idContainer2678, #_idContainer2690 {
	-webkit-transform:translate(197.007px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(197.007px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.97px;
}
#_idContainer2603, #_idContainer2641, #_idContainer2654, #_idContainer2666, #_idContainer2679, #_idContainer2691 {
	-webkit-transform:translate(56.692px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2604 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:241.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2605, #_idContainer2618, #_idContainer2631, #_idContainer2644, #_idContainer2657, #_idContainer2669, #_idContainer2681, #_idContainer2694 {
	-webkit-transform:translate(0.070px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:779.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.070px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer2606, #_idContainer2619, #_idContainer2632, #_idContainer2645, #_idContainer2658, #_idContainer2670, #_idContainer2682, #_idContainer2695 {
	-webkit-transform:translate(369.137px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(369.137px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.97px;
}
#_idContainer2607, #_idContainer2620, #_idContainer2633, #_idContainer2646, #_idContainer2659, #_idContainer2671, #_idContainer2683, #_idContainer2696 {
	-webkit-transform:translate(535.181px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(535.181px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.41px;
}
#_idContainer2608 {
	-webkit-transform:translate(35.999px,623.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,623.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2609 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2398.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:496.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2610 {
	-webkit-transform:translate(35.999px,550.898px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1163.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:52.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,550.898px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2615, #_idContainer2628 {
	-webkit-transform:translate(56.692px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2616, #_idContainer2642 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:231.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2617 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:230.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2621 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2408.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:316.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2622 {
	-webkit-transform:translate(35.999px,370.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,370.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2623 {
	-webkit-transform:translate(36.000px,419.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:183.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,419.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2629 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:241.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2630, #_idContainer2643 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2634 {
	-webkit-transform:translate(35.999px,250.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1163.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:52.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,250.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2635 {
	-webkit-transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2420.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:196.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2636 {
	-webkit-transform:translate(36.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:231.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2647 {
	-webkit-transform:translate(35.999px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2430.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:208.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2648 {
	-webkit-transform:translate(35.999px,262.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1137.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:39.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,262.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2649 {
	-webkit-transform:translate(36.000px,335.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:195.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,335.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2655 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2656 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2660 {
	-webkit-transform:translate(35.999px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2441.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:326.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2661 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2442.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:352.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2667 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2668, #_idContainer2693 {
	-webkit-transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2672 {
	-webkit-transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2451.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:112.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2673 {
	-webkit-transform:translate(36.000px,167.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,167.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2674 {
	-webkit-transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:159.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2680 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2684 {
	-webkit-transform:translate(35.999px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2685 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2462.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:196.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2686 {
	-webkit-transform:translate(36.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1163.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:52.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2692 {
	-webkit-transform:translate(56.692px,104.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:222.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,104.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2697 {
	-webkit-transform:translate(35.999px,227.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:351.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,227.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2698 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2473.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:112.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2699 {
	-webkit-transform:translate(36.000px,167.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,167.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
