p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#68a340;
	font-family:"Comic Sans MS", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:500px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"BC Unciala Grand", serif;
	font-size:647.6px;
	font-style:normal;
	font-weight:300;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:160px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Book", serif;
	font-size:160px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:260px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:140px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#c8a868;
	font-family:"P22 Mackinac Pro", serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#ffffff;
	font-family:"BC Unciala Grand", serif;
	font-size:140px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-11 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro Medium", serif;
	font-size:160px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"P22 Mackinac Pro", serif;
	font-size:160px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:"BC Unciala Petit", serif;
	font-size:140px;
	font-style:normal;
	font-weight:500;
}
#_idContainer2700, #_idContainer2712, #_idContainer2725, #_idContainer2738, #_idContainer2751, #_idContainer2763, #_idContainer2776 {
	-webkit-transform:translate(56.692px,707.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,707.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2701, #_idContainer2713, #_idContainer2726, #_idContainer2739, #_idContainer2752, #_idContainer2764, #_idContainer2777, #_idContainer2789 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:779.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer2702, #_idContainer2714, #_idContainer2727, #_idContainer2740, #_idContainer2753, #_idContainer2765, #_idContainer2778 {
	-webkit-transform:translate(15.023px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.023px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.41px;
}
#_idContainer2703, #_idContainer2715, #_idContainer2728, #_idContainer2741, #_idContainer2754, #_idContainer2766, #_idContainer2779 {
	-webkit-transform:translate(197.007px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(197.007px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.97px;
}
#_idContainer2704, #_idContainer2742, #_idContainer2755, #_idContainer2767, #_idContainer2780 {
	-webkit-transform:translate(56.692px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2705 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:231.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2706, #_idContainer2719, #_idContainer2732, #_idContainer2745, #_idContainer2758, #_idContainer2770, #_idContainer2783 {
	-webkit-transform:translate(0.070px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:779.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.070px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer2707, #_idContainer2720, #_idContainer2733, #_idContainer2746, #_idContainer2759, #_idContainer2771, #_idContainer2784 {
	-webkit-transform:translate(369.137px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(369.137px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.97px;
}
#_idContainer2708, #_idContainer2721, #_idContainer2734, #_idContainer2747, #_idContainer2760, #_idContainer2772, #_idContainer2785 {
	-webkit-transform:translate(535.181px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(535.181px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:20.41px;
}
#_idContainer2709 {
	-webkit-transform:translate(36.268px,227.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2482.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.268px,227.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:473.97px;
}
#_idContainer2710 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2483.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:172.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2711 {
	-webkit-transform:translate(36.000px,275.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,275.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2716, #_idContainer2729 {
	-webkit-transform:translate(56.692px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2717 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:253.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2718 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:242.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2722 {
	-webkit-transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2723 {
	-webkit-transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2494.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:160.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2724 {
	-webkit-transform:translate(36.000px,262.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,262.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2730 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:231.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2731, #_idContainer2744 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:231.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2735 {
	-webkit-transform:translate(36.000px,334.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,334.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2736 {
	-webkit-transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2505.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:220.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,34.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2737 {
	-webkit-transform:translate(36.000px,274.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1191.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:40.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,274.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2743 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2748 {
	-webkit-transform:translate(36.000px,274.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,274.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2749 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2516.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:172.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2750 {
	-webkit-transform:translate(36.000px,226.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,226.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2756, #_idContainer2768, #_idContainer2781 {
	-webkit-transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,107.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2757 {
	-webkit-transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,118.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2761 {
	-webkit-transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2762 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2527.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:160.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2769, #_idContainer2782 {
	-webkit-transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(299.811px,119.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:231.12px;
}
#_idContainer2773 {
	-webkit-transform:translate(36.000px,311.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,311.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2774 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2537.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:206.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2775 {
	-webkit-transform:translate(36.000px,263.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,263.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2786 {
	-webkit-transform:translate(35.999px,203.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,203.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2787 {
	-webkit-transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2548.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:100.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
#_idContainer2788 {
	-webkit-transform:translate(36.000px,155.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1126.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:28.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,155.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:474.24px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
